<h3><%= @forum.title %></h3>
<p>
<%= @forum.description %>
</p>

<p>
<%= link_to 'Post new topic', new_forum_topic_path(@forum), class: 'btn btn-primary btn-sm' if is_member? %>
<%= link_to 'Edit description', edit_forum_path(@forum), class: 'btn btn-success btn-sm' if is_admin? %>
</p>

<% unless @topics.present? %>
  <p>No topics created yet!</p>

<% else %>
  <% @topics.each do |topic| %>
    <%
      latest = @topic_first_posts[topic.id].first
      replies = @topic_post_counts[topic.id] - 1
    %>
    <%= render partial: 'topic', locals: {topic: topic, reply_count: replies, last_post: latest} %>
  <% end %>
<% end %>
