<h3><%= @topic.title %></h3>
<p>
By <%= @topic.author.username %>, <%= time_ago_in_words(@topic.created_at).capitalize %> ago in <%= @topic.forum.title %>
</p>
<p>
<% @topic.posts.each do |post| %>
  <%= render partial: "post", locals: {post: post} %>
<% end %>
</p>
<p>
<%= link_to 'Add reply', new_topic_post_path(@topic), class: 'btn btn-primary btn-sm' if is_member? %>
</p>
