<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= breadcrumbs.map(&:name).reverse.append("RailsForum").join(' - ') %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

  <div id="floating-alert-box" class="container-fluid">
  <% flash.each do |level, message| %>
    <%= content_tag :div, class: flash_classes(level) do %>
      <%= message %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" />
    <% end -%>
  <% end -%>
  </div>

  <nav class="navbar navbar-expand-sm bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <h3>RailsForum</h3>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/topics/list/fresh">Fresh</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/topics/list/active">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/topics/list/popular">Popular</a>
          </li>
        </ul>
        <form class="">
          <% if logged_in? %>
            Logged in as: <%= link_to current_user.username, user_path(current_user.id) %>
            <%= link_to 'Logout', '/logout',   class: 'btn btn-outline-success', 'data-turbo': 'false' %>
          <% else %>
            <%= link_to 'Login', '/login',     class: 'btn btn-outline-primary mr-2' %>
            <%= link_to 'Join',  '/users/new', class: 'btn btn-outline-success' %>
          <% end %>
        </form>
      </div>
    </div>
  </nav>

  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <% breadcrumbs.each do |crumb| %>
          <li class="breadcrumb-item" <%= 'aria-current="page"' if crumb == breadcrumbs.last %>>
            <% if crumb.link? %>
              <%= link_to crumb.name, crumb.path, class: "breadcrumb-link" %>
            <% else %>
              <span class="breadcrumb-page">
                <%= crumb.name %>
              </span>
            <% end %>
          </li>
        <% end %>
      </ol>
    </nav>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 main">
        <%= yield %>
      </div>
    </div>
  </div>
  </body>
</html>
