<%= bootstrap_form_for(@user) do |f| %>
  <%= f.text_field :username, help: 'Name other users will see you by' %>
  <%= f.text_field :preferredname, label: "Preferred name", help: 'How we will greet you in emails' %>
  <%= f.email_field :email %>
  <%= f.password_field :password %>
  <%= f.password_field :password_confirmation, label: "Confirm password", help: 'Make sure passwords match!' %>
  <%= f.primary friendly_action_name %>
  <% @user.errors.full_messages.each do |message| %>
    <div><%= message %></div>
  <% end %>
<% end %>
