<% cache_unless is_admin?, {role: current_user.role}, expires_in: 5.minutes do %>
<h3>Forums</h3>

<p>
  <%= link_to 'Create forum', new_forum_path, class: 'btn btn-success btn-sm' if is_admin? %>
</p>

<% @forums.with_rich_text_description.each do |forum| %>
  <div class="row overlay-box">
    <%= link_to '', forum_topics_path(forum), class: 'overlay-link', 'data-turbo': 'false' %>
    <div class="card-group border overlay-content" style="padding: 0; margin-bottom: 5px;">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h4><%= forum.title %></h4>
          </div>
          <p class="card-text">
            <%= forum.description %>
          </p>
          <%= link_to 'Edit', edit_forum_path(forum) if is_admin? %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<% end %>
