<h1>Forum index</h1>

<% if is_admin? %>
<p><%= link_to 'Create forum', new_forum_path %></p>
<% end %>
<ul>
<% unless @forums.present? %>
<p>No forums created yet!</p>
<% else %>
  <% @forums.each do |forum| %>
    <a href="<%= forum_topics_path(forum) %>" class="nav-link card-link" data-turbo="false">
    <div class="card border-secondary">
      <div class="card-body text-secondary">
        <div class="card-title"><%= forum.title %></div>
        <p class="card-text"><%= forum.description %></p>
        <%= link_to 'Edit', edit_forum_path(forum) if is_admin? %>
      </div>
    </div>
    </a>
  <% end %>
<% end %>
</ul>
