<h1><%= @forum.title %></h1>
<p>
<%= @forum.description %>
</p>
<p>
<%= link_to 'Edit description', edit_forum_path(@forum), class: 'btn btn-primary' if is_admin? %>
<%= link_to 'Post new topic', new_forum_topic_path(@forum), class: 'btn btn-success' if is_member? %>
</p>
<p>
<% unless @forums.present? %>
<p>No topics created yet!</p>
<% else %>
  <% @topics.each do |topic| %>
    <a href="<%= topic_path(topic) %>" class="nav-link" data-turbo="false">
    <div class="card border-secondary">
      <div class="card-body text-secondary">
        <div class="card-title"><%= topic.title %></div>
        <p class="card-text"><%= topic.post.body %></p>
        <%= link_to 'Edit', edit_topic_path(topic) if is_moderator? %>
      </div>
    </div>
    </a>
  <% end %>
<% end %>
</p>
